/* 
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: padding 0.3s ease;
  z-index: 100;
}

.scrolled {
  padding: 10px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  transition: width 0.3s ease, height 0.3s ease;
} */
