.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: var(--sidebar-width-closed);
  height: 100vh;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  z-index: 1000;
  transition: width 0.3s ease;
  overflow-wrap: break-word;
  word-break: break-word;
}

.container:hover,
body.sidebar-open .container {
  width: var(--sidebar-width-open);
  transition: width 0.3s ease;
}

.container:hover img.logo-sidebar,
body.sidebar-open .container img.logo-sidebar {
  transform: scale(1.6);
  transition: transform 0.3s ease;
}

img.logo-sidebar {
  width: 50px;
  /* transition: transform 0.3s ease; */
  transition: transform 0.3s ease, ter 0.3s ease;
}
.logo-div {
  margin: 20px;
}

img.logo-sidebar:hover {
  filter: brightness(1.2) contrast(1.2) saturate(1.5)
    drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.3));
  transition: filter 0.3s ease;
}

.link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  list-style-type: none;
}

.list-item {
  margin-bottom: 40px; /* Add margin to create space between icons */
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(133, 49, 252);
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
}

.link:hover,
.link.current {
  color: rgb(17, 0, 86);
  background-color: #f0eafb;
  border-radius: 25%;
  padding: 5px;
  transition: color 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
}

.link-icon {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.link:hover .link-icon,
.link.current .link-icon {
  filter: none;
  transition: filter 0.3s ease;
}

.link-text {
  opacity: 0;
  white-space: nowrap;
  font-size: 18px;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: -25px;
}

.container:hover .link-text,
body.sidebar-open .link-text {
  opacity: 1;
  transition: opacity 0.3s ease;
}
