.hero-section {
  position: relative;
  padding-right: 20px;
  padding-top: 30px;
  background-color: #c3d4d9;
  min-height: calc(100vh - 45px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hero-content {
  flex: 1;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

img.logo {
  /* margin-bottom: 20px; */
  width: 190px;
  position: relative;
  left: calc(50vw - var(--sidebar-width-closed));
}

.site-title {
  position: relative;
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  line-height: calc(1.1em + 0.5vw);
  color: #0b2720;
  text-align: right;
  z-index: 1000;
  padding-top: 1rem;
}

.image-column {
  flex: 1;
  height: 100%;
}

.content-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-height: 0;
}

.content-wrapper {
  text-align: right;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

img.purple-circle {
  position: fixed;
  top: 50%;
  /* left: 50%; */
  transform: translate(-0%, -50%);
  width: 35vw;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
}

img.screen-image {
  position: fixed;
  top: 50%;
  transform: translate(10%, -50%);
  width: 45vw;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 2;
  /* margin-left: 20%; */
}

.features-grid {
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: flex-end;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.feature-icon {
  width: clamp(1.5rem, 2vw, 2.5rem);
  height: clamp(1.5rem, 2vw, 2.5rem);
  flex-shrink: 0;
}

.feature-text {
  font-size: clamp(0.875rem, 2.5vw, 1.5rem);
  line-height: calc(1.2em + 0.3vw);
  color: #333;
}

.cta-button {
  background: linear-gradient(341deg, #351568 -7.4%, #692ace 91.35%);
  color: #fff;
  font-family: "Heebo", sans-serif;
  font-size: clamp(0.7rem, 2vw, 1rem);
  padding: 0.8em 3.5em;
  border-radius: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  letter-spacing: 1.15px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}
.cta-button:hover {
  background: linear-gradient(341deg, #210c3f -7.4%, #4b1d8f 91.35%);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .hero-section {
    padding-right: 0;
    padding-top: 20px;
    min-height: calc(100vh + 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  img.logo {
    width: 150px;
    left: 0;
    margin-bottom: 20px;
  }

  .site-title {
    font-size: clamp(1.2rem, 5vw, 2rem);
    text-align: center;
    padding-top: 0;
    margin-bottom: 20px;
  }

  .image-column {
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
  }

  .content-column {
    align-items: flex-end;
    justify-content: start;
  }

  .content-wrapper {
    text-align: right;
    padding-left: 0;
    padding-right: 20px;
  }

  img.purple-circle {
    position: relative;
    top: auto;
    transform: none;
    width: 50vw;
    margin-top: 20px;
    /* order: 2; */
  }

  img.screen-image {
    position: relative;
    top: auto;
    left: -40vw;
    transform: none;
    width: 70vw;
    margin-left: 0;
    order: 1;
  }

  .features-grid {
    align-items: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .feature {
    /* justify-content: flex-end; */
  }

  .cta-button {
    font-size: clamp(0.8rem, 4vw, 1rem);
    padding: 0.8em 2.5em;
    /* margin-right: 20px; */
  }
}
