.hero-section {
  position: relative;
  padding-right: 20px;
  padding-top: 30px;
  background-color: #c3d4d9;
  min-height: calc(100vh - 45px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hero-content {
  flex: 1;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

img.logo {
  margin-bottom: 10px;
  /* height: 190px; */
  position: relative;
  left: calc(50% + (var(--sidebar-width-closed) / 2));
  transform: translateX(calc(-50%)); /* מזיז 100px נוספים שמאלה */
}

.site-title {
  position: relative;
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  line-height: calc(1.1em + 0.5vw);
  color: #0b2720;
  text-align: right;
  z-index: 1000;
  padding-top: 1rem;
}

.image-column {
  flex: 1;
  height: 100%;
}

.content-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 0;
}

.content-wrapper {
  text-align: right;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

img.screen-image {
  position: fixed;
  top: 50%;
  transform: translate(10%, -50%);
  width: 40vw;
  max-width: 80%;
  height: auto;
  object-fit: contain;
  z-index: 2;
  /* margin-left: 20%; */
}

.features-grid {
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: flex-end;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 11px;
}

.feature-icon {
  width: clamp(1.5rem, 2vw, 2.5rem);
  height: clamp(1.5rem, 2vw, 2.5rem);
  flex-shrink: 0;
}

.feature-text {
  font-size: clamp(0.875rem, 2.5vw, 1.5rem);
  line-height: calc(1.1em + 0.3vw);
  color: #333;
}

.cta-button {
  font-family: "Heebo", sans-serif;
  font-size: clamp(0.7rem, 2vw, 1rem);
  padding: 0.8em 3.5em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  letter-spacing: 1.15px;
  background: linear-gradient(#246173, #0a2620) padding-box;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  transition: 0.3s ease;
  cursor: pointer;
}

.cta-button:hover {
  background: linear-gradient(#1e5160, #051310) padding-box;
  color: #ffffff;
  transition: 0.3s ease;
}

@media screen and (max-width: 830px) {
  .hero-section {
    padding: 20px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-wrapper {
    width: 80%;
    display: flex;
    /* justify-content: center; */
    margin-bottom: 7px;
  }

  .logo {
    max-width: 60%;
    width: 60%;
    height: auto;
  }

  .site-title {
    font-size: clamp(1rem, 4vw, 2rem);
    text-align: center;
    margin-bottom: 20px;
  }

  .hero-content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .image-column {
    order: -1;
    width: 80%;
  }

  .image-wrapper {
    position: static;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    /* margin-bottom: 20px; */
  }

  img.screen-image {
    position: static;
    transform: none;
    width: 80%;
    max-width: 300px;
    height: auto;
  }

  .content-column {
    width: 100%;
    align-items: center;
  }

  .content-wrapper {
    text-align: center;
    padding: 0;
  }

  .features-grid {
    align-items: right;
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
  }

  .feature {
    justify-content: right;
  }

  .cta-button {
    font-size: clamp(0.8rem, 4vw, 1rem);
    padding: 0.8em 2.5em;
    /* margin-top: 20px; */
  }
  img.logo {
    margin-bottom: 10px;
    /* height: 190px; */
    position: relative;
    left: calc(50% + (var(--sidebar-width-closed) / 4));
    /* transform: translateX(calc(-50%)); / */
  }
}
