.dashboard-page {
  height: 100vh;
  overflow: hidden;
}
.dashboard-page,
.dashboard-container,
.dashboard-wrapper {
  width: 100%;
  height: 100%;
}
body,
.dashboard-page,
.dashboard-container,
.dashboard-wrapper {
  margin: 0;
  padding: 0;
  border: none;
}

.dashboard-container {
  position: fixed;
  top: 0;
  right: var(--sidebar-width-closed);
  width: calc(100% - var(--sidebar-width-closed));
  height: 100%;
  transition: right 0.3s ease-in-out, width 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 1366px;
  height: 768px;
  border: none;
  margin: 0;
  padding: 0;
  transform-origin: top left;
}

@media (max-width: 768px) {
  .dashboard-container {
    right: 0;
    width: 100%;
    padding: 10px;
    padding-right: 60px;
    overflow: none;
    /* height: auto; */
  }

  .dashboard-wrapper {
    transform: none !important;
    /* overflow: auto; */
    overflow: hidden;
  }

  .dashboard {
    width: 100%;
    height: 100vh;
    aspect-ratio: 1366 / 768;
    max-width: 100vw;
    max-height: 100vh;

    /* max-height: calc(100vh - 20px); */
  }
}
