/* @import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap"); */

.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px auto;
  width: 70%;
  font-family: "Heebo", Arial, sans-serif;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.gridItem {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 25px;
  border: 1.5px solid #0f3849;
  border-radius: 25px;
  cursor: pointer;
  transition: all 200ms ease;
  background-color: aliceblue;
  /* width: 100%; */
}

.gridItem:hover {
  border: 2px solid #0f3849;
  height: 410px;
  /* width: 105%; */
  transition: all 200ms ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gridItem img {
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: 200ms ease;
}

.gridItem img:hover {
  transition: 200ms ease;
  transform: rotate(2deg);
}

.gridItem h2 {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridItem p {
  font-size: 15px;
  direction: rtl;
  text-align: center;
}

.readMore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gridItem button {
  /* width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 3px solid #0f3849;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  cursor: pointer; */

  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 3px solid rgb #0f3849;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: heebo, san sarif;
}

.gridItem button:hover {
  background-color: #0f3849;
  color: aliceblue;
  transition: 200ms ease;
}

.loading {
  text-align: center;
  font-size: 18px;
  padding: 20px;
}
