iframe {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.data-container {
  position: fixed;

  top: 0;
  right: var(--sidebar-width-closed);
  bottom: 0;
  left: 0; /* תוסיף גם left: 0; כדי שה-div יתמלא במלואו */
  transition: right 0.3s ease-in-out, left 0.3s ease-in-out; /* תוסיף גם left 0.3s ease-in-out; */
  /* overflow: auto; */
  /* overflow-x: scroll;
  overflow-y: auto; */
}

body.sidebar-open .data-container {
  right: var(--sidebar-width-open);
  /* width: calc(100% - var(--sidebar-width-open)); */
}
