.main-about {
  max-width: 100vw;
  text-align: center;
  background-color: #c3d4d9;
  height: 100vh;
}
.about-container {
  max-width: 70vw;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #c3d4d9;
}

.about-title {
  color: #0b2720;
  font-size: 3rem;
}

.description {
  margin-bottom: 40px;
  font-size: 1.2rem;
  color: #333333;
  direction: rtl;
  padding: 20px;
}

.team {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.team-member {
  width: 25vw;
}

.member-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(#246173 100%, #0b2720 100%);
  border-style: solid;
  border-width: 8px;

  margin: 0 auto;
}

.member-name {
  font-weight: bold;
  margin-top: 10px;
}

.member-title {
  color: #666;
}

@media screen and (max-width: 600px) {
  .team {
    flex-wrap: wrap;
  }
  .team-member {
    width: 100%;
  }
}
