.container {
  background-image: url("/logo.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c3d4d9;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffffcc;

  border-radius: 16px;
  width: 300px;
  height: 150px;
  margin: 20px;
  /* box-shadow: 0px 4px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 4px 4px 0px #00000040;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.title {
  font-family: var(--font-mono);
  font-size: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  /* direction: rtl; */
}

.button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

.button svg {
  height: 24px;
}

.button:hover {
  transform: scale(1.03);
}
