/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap'); */

.container {
  background-image: url("/logo.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c3d4d9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  width: 400px;
  padding: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-family: "Heebo", sans-serif;
  text-align: right;
  direction: rtl;
}

.title {
  font-family: "Heebo", sans-serif;
  font-size: 72px;
  margin: 0;
  color: #333;
}

.subtitle {
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  margin: 10px 0;
  color: #555;
}

.description {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.button {
  max-width: 320px;
  display: inline-flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.03);
}
