.footer {
  background-color: #1a202c;
  color: #f7fafc;
  position: fixed;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  margin: 0;
  padding: 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-menu li {
  margin: 0 1rem;
}

.social-icons {
  display: flex;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
  /* filter: grayscale(100%) sepia(100%) hue-rotate(220deg) saturate(500%)
    brightness(100%); */
  transition: 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  opacity: 0.9;
  transition: 0.3s ease;
}

.social-icon svg {
  width: 25px;
  height: 25px;
}

@media (max-width: 767px) {
  .footer-container {
    flex-direction: column-reverse;
    padding: 0.5rem 0;
  }

  .footer-menu {
    margin-bottom: 0.5rem;
  }
}
.accessibility {
  position: relative;
  color: #c3d4d9;
  text-decoration: none;
  transition: color 0.3s ease;
}

.accessibility::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: #c3d4d9;
  transition: width 0.3s ease;
}

.accessibility:hover {
  color: #c3d4d9;
}

.accessibility:hover::after {
  width: 100%;
}
